<div class="m-3">
  <form (ngSubmit)="addNewUser($event)" class="border-bottom pb-4">
    <h2 class="mb-3 p-2 font-italic border-bottom border-dark">Creat new user:</h2>
    <div class="form-group col-md-12">
      <label for="inputName"> User name: </label>
      <input type="text" class="form-control {{ blankFieldName ? 'active' : '' }}" id="inputName" #nameInput/>
    </div>
    <div class="form-group col-md-12">
      <label for="inputEmail"> User Email: </label>
      <input type="email" class="form-control {{ blankFieldEmail ? 'active' : '' }}" id="inputEmail" #emailInput/>
    </div>
    <div class="form-group col-md-12">
      <label for="inputState"> User state: </label>
      <select id="inputState" class="form-control {{ blankFieldSelect ? 'active' : '' }}" #select>
        <option selected >Choose...</option>
        <option> User </option>
        <option> Editor </option>
        <option> Admin </option>
      </select>
    </div>
    <div class="form-check ml-3">
      <input class="form-check-input checkbox" type="checkbox" (change)="getChecked()" [checked]="checked" id="gridCheck"/>
      <label class="form-check-label m-3" for="gridCheck"> Are you an active user? ( The default will be "Not active" )</label>
    </div>
    <button class="btn btn-primary m-3 "> Creat user </button>
  </form>
  <form (ngSubmit)="addGroup($event)">
    <h2 class="mt-5 p-2 mb-3 border-bottom border-dark font-italic">Creat new group:</h2>
    <div class="form-group col-md-12">
      <label for="inputGroup"> Users Group: </label>
      <input type="text" class="form-control {{ blankFieldGroup ? 'active' : '' }}" id="inputGroup" #groupInput/>
      <button class="btn btn-primary mt-4"> Creat group </button>
    </div>
  </form>
</div>
