<div class=" user card m-3 border-dark text-lg-center p-3"
     style="width: 18rem;"
     (click)="getUser(users[index])">
  <p>User name: {{ users[index].name }}</p>
  <p> User email: {{ users[index].email }}</p>
  <p> User role: {{ users[index].role }}</p>
  <p> Activity: {{ active }}</p>
</div>

