<div class=" main-unit d-flex flex-column flex-wrap pt-3 pl-3 pr-3 ">
  <ng-container *ngIf="keyToOpenThePage === true; else usersAndGroups">
    <div class=" form-block col-lg-5 col-md-11 m-auto p-3 border rounded border-dark">
      <app-new-user></app-new-user>
    </div>
  </ng-container>
  <ng-template #usersAndGroups>
    <div class="main-block d-flex flex-wrap justify-content-lg-around justify-content-md-center">
        <div class=" my-block col-lg-5 col-md-12 mb-md-3 m-lg-0 border rounded border-dark text-center">
          <h2 class="mt-2 mb-5 p-2 font-italic border-bottom border-dark">Users:</h2>
          <h3 *ngIf="users.length === 0" class="font-italic">No users added</h3>
          <div class=" d-flex flex-wrap justify-content-around">
            <app-users
              *ngFor="let user of users; let i = index"
              [index]="i"
            ></app-users>
          </div>
        </div>
        <div class="my-block col-lg-5 col-md-12 mb-md-5 m-lg-0 border rounded border-dark text-center">
          <h2 class="mt-2 mb-5 p-2 font-italic border-bottom border-dark ">Groups:</h2>
          <h3 *ngIf="groups.length === 0" class="font-italic">No group added</h3>
          <div class=" d-flex flex-wrap justify-content-around ">
            <app-groups
              *ngFor="let group of groups; let i = index"
              [index]="i"
            ></app-groups>
          </div>
        </div>
      </div>
      <div>
    </div>
  </ng-template>
  <div class="d-flex justify-content-center mt-4">
    <button type="button" class="btn btn-success m-3 pr-5 pl-5" (click)="onChangePage()" [disabled]="keyToOpenThePage === true">Manage</button>
    <button type="button" class="btn btn-primary m-3" (click)="onChangePage()" [disabled]="keyToOpenThePage === false">Users and Groups</button>
  </div>
</div>
