<div
  class="card my-card m-3 border-dark text-lg-center p-3 {{ groups[index].selectedItem ? 'active' : '' }}"
  style="width: 18rem;"
  (click)="onClickGroup(groups[index].nameGroup)">
  <h3 class="border-bottom border-dark font-italic pb-2 {{ groups[index].selectedItem ? 'red' : ''}}"
  >Name group: <br><strong>{{ groups[index].nameGroup }}</strong></h3>
  <ul class="list text-left h4 text-capitalize">
    <li
      *ngFor="let user of groups[index].usersInGroup"
      class="p-2"
    >{{ user.name }}</li>
  </ul>
    <button type="button" class="btn btn-success m-1 " *ngIf="groups[index].selectedItem" (click)="saveChangesInGroup($event)">Save changes</button>
</div>

