.my-card {
  min-height: 250px;
  min-width: 250px;
  box-shadow: 10px 5px 5px dimgrey;
}

.my-card.active {
  box-shadow: 5px 5px 5px red;
}

.list {
  flex-grow: 1;
}

.red {
  border-bottom: 3px solid black;
  color: red;
}
